<h1>Admin Dashboard</h1>


<table class="table table-bordered">
  <thead>
        <tr>
          <th>Product Count</th>
          <th>Catagory Count</th>
        </tr>
      </thead>
      <tr>
      <th><a href="/admin/products"><%= @count_products %> </a></th>
      <th><%= @count_cats %></th>
      
      </tr>
</table>
