<h1>Admin::Dashboard#show</h1>
<p>Find me in app/views/admin/dashboard/show.html.erb</p>

<table class="table table-bordered">
  <thead>
        <tr>
          <th>Product Count</th>
          <th>Catagory Count</th>
        </tr>
      </thead>
      <tr>
      <th><%= @count_products %></th>
      <th><%= @count_cats %></th>
      
      </tr>
</table>
