<section class="orders-show">

  <header class="page-header">
    <h1>Order #<%= @order.id %></h1>
  </header>

   <ul>
    <% for item in  @order.line_items do  %>
    <% plant =Product.find(item.id) %>
    <% puts ">>>>>  #{plant.inspect} " %>
     <%= render 'item', product: plant, quantity: item[:quantity].to_i %>
    <% end %>
   </ul>
  


  <div class="order-summary jumbotron">
    <h4>Thank you for your order!</h4>
  </div>

  <%= link_to "Continue Shopping", root_path, class: 'btn btn-lg btn-primary' %>

</section>
