<section class="cart-show">

  <header class="page-header">
    <h1>My Cart</h1>
  </header>
  <h3>Your cart is currently empty.</h3>
  <a class="navbar-brand" href="<%= root_path %>">Back to the homepage.</a>
</section>
