<section class="cart-show">

  <header class="page-header">

  </header>
 <%# went with green/ success as i htought it matched the app better than the blue/info, or blue/primary %>

  <div class="alert alert-success" role="alert">
  <h4 class="alert-heading">Your cart is currently empty.</h4>
  <hr>
  <a href="<%= root_path %>">Click here to go back to the homepage and checkout our plants.</a>
</div>
</section>
