<!DOCTYPE html>
<html>
<head>
  <title>Jungle</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;0,700;0,800;0,900;1,600;1,700;1,800;1,900&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;0,900;1,300;1,400;1,600;1,700;1,900&display=swap" rel="stylesheet">
  <%= csrf_meta_tags %>
</head>
<body>
<br>
  <h1>About Us!</h1>
  <p class="about-info">Jeff Trescothik looked at the weathered blade in his hands and felt confident.He walked over to the window and reflected on his deserted surroundings. He had always loved dull Falmouth with its perfect, pretty parks. It was a place that encouraged his tendency to feel confident.Then he saw something in the distance, or rather someone. It was the figure of Tommy Walker. Tommy was an optimistic muppet with fluffy toes and scrawny elbows. Jeff gulped. He glanced at his own reflection. He was a noble, spiteful, beer drinker with spiky toes and brown elbows. His friends saw him as a gentle, gifted giant. Once, he had even helped a wet owl cross the road. But not even a noble person who had once helped a wet owl cross the road, was prepared for what Tommy had in store today. The rain hammered like smiling flamingos, making Jeff sad. As Jeff stepped outside and Tommy came closer, he could see the kaleidoscopic glint in his eye.
    Tommy gazed with the affection of 6001 considerate magnificent monkeys. He said, in hushed tones, "I love you and I want peace." Jeff looked back, even more sad and still fingering the weathered blade. "Tommy, beam me up Scotty," he replied. They looked at each other with ambivalent feelings, like two gentle, glamorous guppies eating at a very cowardly accident, which had R & B music playing in the background and two hopeful uncles thinking to the beat. Jeff regarded Tommy's fluffy toes and scrawny elbows. "I feel the same way!" revealed Jeff with a delighted grin. Tommy looked happy, his emotions blushing like a rotten, regurgitated rock. Then Tommy came inside for a nice drink of beer. THE END
  </p>
</body>
</html>